<div class="row mt-4 form-group">
  <div class="col-md-6 col-sm-12">
      <h4 class=" header-titel">New Course training</h4>
  </div>
  <div class="col-md-6 col-sm-12 text-right">

  </div>
</div>



<div class="row mb-5">
  <div class="col-md-12 col-xs-12">
      <div class="shadow card border-0">
          <div class="card-body">
              <form>
                  <div class="row">
                      <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                              <label>Course name</label>
                              <input type="email" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                              <label>Course Code</label>
                              <input type="email" class="form-control">
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                              <label>Training duration</label>
                              <input type="email" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                              <label>Fee</label>
                              <input type="email" class="form-control">
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                              <label>Enrolled</label>
                              <input type="email" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                              <label>Maxixmum subscription</label>
                              <input type="email" class="form-control">
                          </div>
                      </div>
                  </div>


                  <div class="row">
                      <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                              <label>Training Type</label>
                              <input type="email" class="form-control" placeholder="Email">
                          </div>
                      </div>
                      <div class="col-md-6 col-xs-6">
                          <div class="form-group">
                              <label>Trainer</label>
                              <input type="email" class="form-control" placeholder="Email">
                          </div>
                      </div>
                  </div>




                  <div class="row mt-3">
                      <div class="col-md-12 col-xs-12 text-right">
                          <a type="button" class="btn btn-primary"
                              href="../trainingManagement/index.html">save & Create</a>
                      </div>
                  </div>

              </form>
          </div>
      </div>
  </div>


</div>