.custom-header .media img {
width: 46px;
height: 46px;
border-radius: 50%;
object-fit: cover;
}

.custom-header .media .media-body h5 {
    font-size: 1.1rem;
    margin-top: .7rem !important;
    }

    .custom-header .media .media-body .dropdown .dropdown-toggle{
        font-size: 16px;
        font-weight: 600;
        /* margin-top: .7rem !important; */
        }