<div class="login-container">
  <div class="alert alert-success" role="alert" *ngIf="isreset">
    Password Successfully updated
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="row">
    <div class="col-md-6 login-form-1">
      <div class="text-center">
        <img class="img-center webe-img" src="./assets/images/webe-logo.png">
      </div>
      <div class="text-center">
        <img class="img-center desk-img" src="./assets/images/webe-desktop.png">
      </div>
    </div>
    <div class="col-md-6 login-form-2">
      <h5 class="title">Password Reset</h5>
      <form [formGroup]="resetForm" novalidate (ngSubmit)="f.form.valid && createNewpassword(f.form.value)" #f="ngForm">

        <div class="space-around">
          <div class="form-group">
            <label class="lb"> New Password</label>
            <input type="text" class="form-control bg-light" formControlName="newPassword" required
              placeholder="Enter user ID" />

            <small class="form-text text-danger"
              *ngIf="f.submitted && resetForm.controls['newPassword'].hasError('required')">Old
              Password field is required</small>

          </div>
          <div class="form-group">
            <label class="lb">Confirm Password</label>
            <input type="password" class="form-control bg-light" formControlName="confirmPassword" required
              placeholder="Enter Password " />
            <small class="form-text text-danger"
              *ngIf="f.submitted &&  resetForm.controls['confirmPassword'].hasError('required')">Confirm
              Password field is required</small>
            <small *ngIf="resetForm.controls.confirmPassword.hasError('mismatchedPasswords')">
              Confirm Password
              doesn't match with New Password
            </small>

          </div>
          <div class="form-group forgot-text">
            <a class="" class="ForgetPwd" value="Login" (click)="moveToLogin()">Back to Login?</a>
          </div>

        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btnSubmit">Set New Password</button>
        </div>
      </form>
    </div>
  </div>
</div>