<div class="modal fade  poc-detai" bsModal #posDetailModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <button type="button" class="close" (click)="hideModalWindow()">
        <span aria-hidden="true" class="x">&times;</span>
      </button>
      <div class="modal-body">
        <div class="shadow-sm card border-0 mb-4">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 col-xs-12">
                      <div class="media">
                        <img class="mr-3" src="/assets/images/user.jpg" />

                          <div class="media-body">
                              <h5 class="mt-0">Carter Dias</h5>

                              <label class="detals">carter dias@gmail.com</label>
                              <label class="detals">9876522345</label>
                              <label class="detals">Location</label>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-xs-12 text-right">

                      <h4 class="mt-4 mb-0 total-hous ">Total hours</h4>
                      <h5 class="mt-0  mb-0 hours text-primary">1hr</h5>
                  </div>
              </div>
          </div>

      </div>

      <div class="shadow-sm card border-0 mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <table class="table table-borderless detail-tabele">
                        <tbody>
                            <tr>
                                <td class="text-muted">Cafe usage</td>
                                <td class="text-muted">1hr</td>
                                <td>$10</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Food and beverage </td>
                                <td class="text-muted">Coke and chips</td>
                                <td>$20</td>
                            </tr>
                            <tr>
                                <td class="text-muted">GST</td>
                                <td class="text-muted">18%</td>
                                <td>$20</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Service charge</td>
                                <td></td>
                                <td>$2</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <hr class="m-0">
                                </td>

                            </tr>
                            <tr>
                                <td><b>Total amount</b></td>
                                <td></td>
                                <td><b>$52</b></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <hr class="m-0">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>



      </div>
    </div>
  </div>
</div>
