@import'../../../shared/styles/abstracts/abstracts-dir.scss';

.role-select{
    border-radius: 25px;
    width: 50%;
    color:$primary-bg;
    border: 1px solid $primary-bg;
}
li{
    margin: 5px;
}
.sub-head{
    font-size: 18px;
    font-weight: 600;
}
button{
    outline:none
}
.pc-list{
    button{
        width:53px;
        height:53px;
        background-color:$dark-grey ;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        &.active{
            background-color: $primary-bg;
            color:$white
        }
    }
}
.form-control{
    background-color: #F8F8F8;
}
.circle{
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color: #eeee;
    &.active{
        background-color: $primary-bg
    }
}
.mt-10{margin-top: 10px;}
