@import'../../../shared/styles/abstracts/abstracts-dir.scss';
.hours{
    font-size: 36px;
    font-weight: bold;
    // color:$bg-primary
}
.card{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216) !important;
}
.x {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
}
.shadow-sm{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14) !important;
}