<div class="login-container">
  <div class="alert alert-success" role="alert" *ngIf="isreset">
    Password Successfully updated
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="row">
      <div class="col-md-6 login-form-1">
        <div class="text-center">
            <img class="img-center webe-img" src="./assets/images/webe-logo.png">
        </div>
        <div class="text-center">
         <img class="img-center desk-img" src="./assets/images/webe-desktop.svg">
        </div>
      </div>
      <div class="col-md-6 login-form-2">
          <h5 class="title">Password Reset</h5>
          <form [formGroup]="resetForm" novalidate>

              <div class="space-around">
                <div class="form-group">
                  <label class="lb"> New Password</label>
                  <input type="text"  class="form-control bg-light" formControlName="newpassword"
                  required  placeholder="Enter user ID" />

                      <small class="form-text text-white"
                        *ngIf="resetForm.controls['newpassword'].hasError('required')">New Password field is required</small>

              </div>
              <div class="form-group">
                  <label class="lb">Confirm Password</label>
                  <input type="password" class="form-control bg-light" formControlName="password"
                  required  placeholder="Enter Password "  />
                  <small class="form-text text-white" *ngIf="resetForm.controls['password'].hasError('required')">Confirm Password field is required</small>

              </div>
              <div class="form-group forgot-text">
                  <a class=""  class="ForgetPwd" value="Login"  (click)="moveToLogin()">Back to Login?</a>
              </div>

              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btnSubmit" (click)="createNewpassword(resetForm.value)">Set New Password</button>
            </div>
          </form>
      </div>
  </div>
</div>
