.bell-notify{
    position: relative;
    top: -11px;
    right: 11px;
    padding: 2px 6px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #D61212;
    color: white;
  }
  .dropdown-height{
    top: 76% !important;
  }
