<div class="row">
  <div class="col-md-8">
    <div class="tab-slider-nav active d-flex justify-content-between align-items-center px-0">
      <ul class="d-flex align-items-center pt-2">
        <li class="tab-slider  py-3 cursor px-4 " [class.active]="viewMode == 'income'" rel="tab1"
          (click)="viewMode ='income';getData();">
          Income Level
        </li>
        <li class="tab-slider  py-3 cursor px-4 " [class.active]="viewMode == 'marital'" rel="tab2"
          (click)="viewMode ='marital';getData();">
          Marital Status
        </li>
        <li class="tab-slider  py-3 cursor px-4 " [class.active]="viewMode == 'nationality'" rel="tab3"
          (click)="viewMode ='nationality';getData();">
          Nationality
        </li>
        <li class="tab-slider  py-3 cursor px-4 " [class.active]="viewMode == 'gender'" rel="tab3"
          (click)="viewMode ='gender';getData();">
          Gender
        </li>
        <li class="tab-slider  py-3 cursor px-4 " [class.active]="viewMode == 'occupation'" rel="tab3"
          (click)="viewMode ='occupation';getData();">
          Occupation
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 text-right align-center">
    <ng-container *ngIf="viewMode=='income'">
      <input type="text" placeholder="Search" class="search-field" name="search" ngModel
        (ngModelChange)="searchFilter($event)">
      <button type="button" class="btn btn-primary" routerLink="/inventoryManagement/incomeCreate">Add New
      </button>
    </ng-container>
    <ng-container *ngIf="viewMode=='marital'">
      <input type="text" placeholder="Search" class="search-field" name="search1" ngModel
        (ngModelChange)="searchFilter($event)">

      <button type="button" class="btn btn-primary" routerLink="/inventoryManagement/maritalCreate">Add New
      </button>
    </ng-container>
    <ng-container *ngIf="viewMode=='nationality'">
      <input type="text" placeholder="Search" class="search-field" name="search2" ngModel
        (ngModelChange)="searchFilter($event)">

      <button type="button" class="btn btn-primary" routerLink="/inventoryManagement/nationCreate">Add New
      </button>
    </ng-container>
    <ng-container *ngIf="viewMode=='gender'">
      <input type="text" placeholder="Search" class="search-field" name="search2" ngModel
        (ngModelChange)="searchFilter($event)">

      <button type="button" class="btn btn-primary" routerLink="/inventoryManagement/genderCreate">Add New
      </button>
    </ng-container>
    <ng-container *ngIf="viewMode=='occupation'">
      <input type="text" placeholder="Search" class="search-field" name="search2" ngModel
        (ngModelChange)="searchFilter($event)">

      <button type="button" class="btn btn-primary" routerLink="/inventoryManagement/createOccupation">Add New
      </button>
    </ng-container>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="tab-slider--container slideBox" [ngSwitch]="viewMode">
      <div id="tab1" class="tab-slider--body tab-overflow " *ngSwitchCase="'income'">
        <table class="table table-borderless app-table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th class="text-center">Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filterIncomeList  | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
              <td>{{ 10 * (p - 1) + i +1}}</td>
              <td class="cursor-pointer text-center" (click)="viewIncome(item.id);">{{item?.name}}</td>
              <td>
                <div class="btn-group edit-button" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class=" bg-transparent border-0"
                    aria-controls="dropdown-basic">
                    <span class="material-icons">
                      more_horiz
                    </span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                    aria-labelledby="button-basic">
                    <li role=" px-2 cursor">
                      <button class="bg-transparent border-0" (click)="editIncome(item.id)">Edit</button>
                    </li>
                    <li class="divider"></li>
                    <li role=" px-2 cursor"><button class="bg-transparent border-0"
                        (click)="deleteIncome(item.id)">Delete</button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center col-md-12 col-xs-12">
          <div class="row">
            <div class="text-center col-md-12 col-xs-12" *ngIf="!!loader">
              <div>
                <div class="spinner-box my-0 mx-auto">
                  <div class="pulse-container">
                    <div class="pulse-bubble pulse-bubble-1"></div>
                    <div class="pulse-bubble pulse-bubble-2"></div>
                    <div class="pulse-bubble pulse-bubble-3"></div>
                  </div>
                </div>
                <p class="text-loader text-bold">Loading</p>
              </div>
            </div>
          </div>
          <h4 *ngIf="filterList?.length==0" class="p-5 text-dark text-center">No data to display</h4>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <label class="fs14">Showing {{10 * (p - 1) + i }} to {{10 * p}} of {{filterList?.length}} entries</label>
          </div>

          <div class="col-md-6 col-xs-12 text-right" *ngIf="filterList?.length !== 0">
            <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Previous" nextLabel="Next">
            </pagination-controls>
          </div>
        </div>
      </div>
      <div id="tab2" class="tab-slider--body tab-overflow " *ngSwitchCase="'marital'">
        <table class="table table-borderless app-table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th class="text-center">Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filterMaritalList  | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
              <td>{{ 10 * (p - 1) + i +1}}</td>
              <td class="cursor-pointer text-center" (click)="viewIncome(item.id);">{{item?.name}}</td>
              <td>
                <div class="btn-group edit-button" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class=" bg-transparent border-0"
                    aria-controls="dropdown-basic">
                    <span class="material-icons">
                      more_horiz
                    </span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                    aria-labelledby="button-basic">
                    <li role=" px-2 cursor">
                      <button class="bg-transparent border-0" (click)="editMarital(item.id)">Edit</button>
                    </li>
                    <li class="divider"></li>
                    <li role=" px-2 cursor"><button class="bg-transparent border-0"
                        (click)="deleteMarital(item.id)">Delete</button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center col-md-12 col-xs-12">
          <div class="row">
            <div class="text-center col-md-12 col-xs-12" *ngIf="!!loader">
              <div>
                <div class="spinner-box my-0 mx-auto">
                  <div class="pulse-container">
                    <div class="pulse-bubble pulse-bubble-1"></div>
                    <div class="pulse-bubble pulse-bubble-2"></div>
                    <div class="pulse-bubble pulse-bubble-3"></div>
                  </div>
                </div>
                <p class="text-loader text-bold">Loading</p>
              </div>
            </div>
          </div>
          <h4 *ngIf="filterList?.length==0" class="p-5 text-dark text-center">No data to display</h4>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <label class="fs14">Showing {{10 * (p - 1) + i }} to {{10 * p}} of {{filterList?.length}} entries</label>
          </div>

          <div class="col-md-6 col-xs-12 text-right" *ngIf="filterList?.length !== 0">
            <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Previous" nextLabel="Next">
            </pagination-controls>
          </div>
        </div>
      </div>
      <div id="tab3" class="tab-slider--body tab-overflow " *ngSwitchCase="'nationality'">
        <table class="table table-borderless app-table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th class="text-center">Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filterNationalityList  | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
              <td>{{ 10 * (p - 1) + i +1}}</td>
              <td class="cursor-pointer text-center" (click)="viewIncome(item.id);">{{item?.nationality}}</td>
              <td>
                <div class="btn-group edit-button" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class=" bg-transparent border-0"
                    aria-controls="dropdown-basic">
                    <span class="material-icons">
                      more_horiz
                    </span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                    aria-labelledby="button-basic">
                    <li role=" px-2 cursor">
                      <button class="bg-transparent border-0" (click)="editNation(item.id)">Edit</button>
                    </li>
                    <li class="divider"></li>
                    <li role=" px-2 cursor"><button class="bg-transparent border-0"
                        (click)="deleteNation(item.id)">Delete</button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center col-md-12 col-xs-12">
          <div class="row">
            <div class="text-center col-md-12 col-xs-12" *ngIf="!!loader">
              <div>
                <div class="spinner-box my-0 mx-auto">
                  <div class="pulse-container">
                    <div class="pulse-bubble pulse-bubble-1"></div>
                    <div class="pulse-bubble pulse-bubble-2"></div>
                    <div class="pulse-bubble pulse-bubble-3"></div>
                  </div>
                </div>
                <p class="text-loader text-bold">Loading</p>
              </div>
            </div>
          </div>
          <h4 *ngIf="filterList?.length==0" class="p-5 text-dark text-center">No data to display</h4>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <label class="fs14">Showing {{10 * (p - 1) + i }} to {{10 * p}} of {{filterList?.length}} entries</label>
          </div>

          <div class="col-md-6 col-xs-12 text-right" *ngIf="filterList?.length !== 0">
            <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Previous" nextLabel="Next">
            </pagination-controls>
          </div>
        </div>
      </div>
      <div id="tab4" class="tab-slider--body tab-overflow " *ngSwitchCase="'gender'">
        <table class="table table-borderless app-table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th class="text-center">Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filterGenderList  | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
              <td>{{ 10 * (p - 1) + i +1}}</td>
              <td class="cursor-pointer text-center" (click)="viewIncome(item.id);">{{item?.name}}</td>
              <td>
                <div class="btn-group edit-button" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class=" bg-transparent border-0"
                    aria-controls="dropdown-basic">
                    <span class="material-icons">
                      more_horiz
                    </span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                    aria-labelledby="button-basic">
                    <li role=" px-2 cursor">
                      <button class="bg-transparent border-0" (click)="editGender(item.id)">Edit</button>
                    </li>
                    <li class="divider"></li>
                    <li role=" px-2 cursor"><button class="bg-transparent border-0"
                        (click)="deleteGender(item.id)">Delete</button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center col-md-12 col-xs-12">
          <div class="row">
            <div class="text-center col-md-12 col-xs-12" *ngIf="!!loader">
              <div>
                <div class="spinner-box my-0 mx-auto">
                  <div class="pulse-container">
                    <div class="pulse-bubble pulse-bubble-1"></div>
                    <div class="pulse-bubble pulse-bubble-2"></div>
                    <div class="pulse-bubble pulse-bubble-3"></div>
                  </div>
                </div>
                <p class="text-loader text-bold">Loading</p>
              </div>
            </div>
          </div>
          <h4 *ngIf="filterList?.length==0" class="p-5 text-dark text-center">No data to display</h4>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <label class="fs14">Showing {{10 * (p - 1) + i }} to {{10 * p}} of {{filterList?.length}} entries</label>
          </div>

          <div class="col-md-6 col-xs-12 text-right" *ngIf="filterList?.length !== 0">
            <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Previous" nextLabel="Next">
            </pagination-controls>
          </div>
        </div>
      </div>
      <div id="tab4" class="tab-slider--body tab-overflow " *ngSwitchCase="'occupation'">
        <table class="table table-borderless app-table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th class="text-center">Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filterOccupationList  | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
              <td>{{ 10 * (p - 1) + i +1}}</td>
              <td class="cursor-pointer text-center" (click)="viewIncome(item.id);">{{item?.name}}</td>
              <td>
                <div class="btn-group edit-button" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class=" bg-transparent border-0"
                    aria-controls="dropdown-basic">
                    <span class="material-icons">
                      more_horiz
                    </span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                    aria-labelledby="button-basic">
                    <li role=" px-2 cursor">
                      <button class="bg-transparent border-0" (click)="editOccupation(item.id)">Edit</button>
                    </li>
                    <li class="divider"></li>
                    <li role=" px-2 cursor"><button class="bg-transparent border-0"
                        (click)="deleteOccupation(item.id)">Delete</button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center col-md-12 col-xs-12">
          <div class="row">
            <div class="text-center col-md-12 col-xs-12" *ngIf="!!loader">
              <div>
                <div class="spinner-box my-0 mx-auto">
                  <div class="pulse-container">
                    <div class="pulse-bubble pulse-bubble-1"></div>
                    <div class="pulse-bubble pulse-bubble-2"></div>
                    <div class="pulse-bubble pulse-bubble-3"></div>
                  </div>
                </div>
                <p class="text-loader text-bold">Loading</p>
              </div>
            </div>
          </div>
          <h4 *ngIf="filterList?.length==0" class="p-5 text-dark text-center">No data to display</h4>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <label class="fs14">Showing {{10 * (p - 1) + i }} to {{10 * p}} of {{filterList?.length}} entries</label>
          </div>

          <div class="col-md-6 col-xs-12 text-right" *ngIf="filterList?.length !== 0">
            <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Previous" nextLabel="Next">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>