<div class="login-container">
  <div class="alert alert-success" role="alert" *ngIf="invalidLogin">
    Check your mail and reset your password
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="invaliduser">
    User Not Found
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="row">
      <div class="col-md-6 login-form-1">
        <div class="text-center">
          <img class="img-center webe-img" src="./assets/images/webe-logo.png">
      </div>
      <div class="text-center">
       <img class="img-center desk-img" src="./assets/images/webe-desktop.png">
      </div>
      </div>
      <div class="col-md-6 login-form-2">
          <h5 class="title">Forgot Your Password?</h5>
          <form [formGroup]="ForgotForm"  novalidate>
            <div class="space-around">
              <div class="form-group">
                  <label class="lb"> Email</label>
                  <input type="text" class="form-control bg-light" formControlName="email"
                  required  placeholder="Enter user ID" />
                  <!-- <small class="form-text text-muted"
                        *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
                          Please enter email address.!
                      </small> -->
                      <small class="form-text text-white" *ngIf="ForgotForm.controls.email.touched && ForgotForm.controls.email.errors?.required"> Please enter email address.!</small>
                      <span *ngIf="ForgotForm.get('email').hasError('pattern') && ForgotForm.get('email').touched" class="form-text text-white">Email must be a valid email address</span>

              </div>
            </div>
              <div class="form-group forgot-text">
                <a class=""  class="ForgetPwd" value="Login" (click)="moveToLogin()">Back to login?</a>
            </div>
            <div class="form-group text-center">
              <a type="submit" class="btn btnSubmit" value="" (click)="resetPassword(ForgotForm.value)">Reset</a>
            </div>


          </form>
      </div>
  </div>
</div>
