.media img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    }
    .media-body{
        h5{
            font-size: 24px;
        }
        .detals{
            font-weight: 500;
            font-size: 16px;
        }
    }
.icon-bg{
    background-color: rgba(255, 255, 255, 0.23);
    padding:4px 9px;
    
    }
.icon-img{
    width: 14px;
    height: auto;
} 
p.dtail-head{
    color:#fff;
    font-weight: bold;
    font-size: 18px;
}
p.dtail-sub{
    color:#fff;
    font-size: 12px;
}