@import'../abstracts/abstracts-dir.scss';


// buttion------------
.btn {
    border-radius: 20px;
    padding      : .375rem 1rem;

    &.btn-primary {
        background-color: $primary-bg;
        border-color    : $primary-bg;

        &.focus,
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(50, 141, 95, .5);
        }

        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled):active,
        &.hover,
        &:hover {
            color           : #fff;
            background-color: $primary-bg;
            border-color    : $primary-bg;
        }
    }


}

.show {
    .btn-primary {
        &.dropdown-toggle {
            color           : #fff;
            background-color: $primary-bg;
            border-color    : $primary-bg;
        }
    }

}


.btn-transparent {
    background: transparent;
    border    : none;

    &:focus,
    &:active {
        box-shadow: unset;
    }
}

// dropdown------------
.dropdown-item {
    &:active {
        color           : $white;
        text-decoration : none;
        background-color: $primary-bg;
    }

    &:focus,
    &:hover {
        outline         : rgba(50, 141, 95, .5);
        background-color: unset;
    }

}


// pagination------------

.app-pagination {
    .pagination {
        .page-item {
            a {
                color    : $black;
                font-size: 12px;

                &.disabled {
                    pointer-events: none;
                    opacity       : 0.5;
                }

                &.active {
                    background-color: $primary-bg;
                    color           : $white;

                }
            }

            +.page-item {
                margin-left: 5px;
            }
        }
    }
}




// form-control

.form-group {
    label {
        font-size: 18px;
        color    : #000000;
    }

    .form-control {
        background-color: #EEEEEE;
        border          : none;
        height          : calc(2.5em + .75rem + 2px);
    }
}


//modle window
.modal {
    .close {
        color : $primary-bg;
        border: 1px solid $primary-bg;
        ;
        position     : absolute;
        border-radius: 50%;
        width        : 30px;
        height       : 30px;
        padding      : 0;
        right        : -11px;
        top          : -16px;
        background   : $white;
        opacity      : unset;
    }

    .modal-body {
        .media {
            img {
                width        : 66px;
                height       : 66px;
                border-radius: 50%;
                object-fit: cover;
            }

            .media-body {

                h5,
                .days-ago {
                    font-size  : 24px;
                    font-weight: 600;
                }

                .detals {
                    font-size    : 16px;
                    display      : block;
                    margin-bottom: 0;
                }
            }
        }
    }
}


.app-table {
    thead {
        background-color: $primary-bg;
        font-size       : 14px;

        tr {
            th {
                color      : $white;
                font-size  : 16px;
                border     : none;
                font-weight: normal;
            }
        }
    }

    tbody {
        tr {
            td {

                vertical-align: middle;
            }
        }

    }
}



//typoscript

.header-titel {
    font-size  : 24px;
    font-weight: 600;
}

i {
    vertical-align: bottom;

}

.caret-no::after {
    border: none;
}

.edit-dropdown {
    color: #C4C4C4;
}

.fs14 {
    font-size: 14px;
}

.fs14 {
    font-size: 14px;
}
.fs24{
    font-size: 24px;
}
.text-bold{
    font-weight: 600;
}

table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  span.material-icons {
    color: #C4C4C4;
}


.bg-primary {
    background-color:  $primary-bg !important;
}

.text-primary {
    color:  $primary-bg !important;
}

// .text-danger {
//     D61212
// }


//card
.card{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    
    .card-header{
        background-color: $white;
        border: none;
    }

}
.mat-select-trigger {
    height: 2em;
}
.mat-select-trigger {
    height: 2em;
}

.box-shadow{
    box-shadow: 0px 0px 10px rgba(196, 196, 196, 0.12);
}
//modal close button
.x{
    position: absolute;
    top:3px;
    left:7px
}