<!DOCTYPE html>
<html>

<head>
    <title>Inventory List</title>
    <style>
        table {
            border-collapse: collapse;
        }
        
        table,
        th,
        td {
            border: 1px solid;
        }
        
        table th,
        table thead tr {
            background: #dedede;
        }
    </style>
</head>

<body>
    <table>
        <table border="1" cellspacing="5" cellpadding="4">
            <tr>
                <th>System ID</th>
                <th>Specification</th>
                <th>Device name</th>
                <th>Service IpAddress</th>
                <th>Inventory type</th>
                <th>Branch</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
                {{#each getreport}}
                <tr>
                    <td> {{this.systemId}}</td>
                    <td> {{this.processor}} {{this.memory}}</td>
                    <td> {{this.deviceName}}</td>
                    <td> {{this.ipAddress}}</td>
                    <td> {{this.inventoryType}}</td>
                    <td> {{this.locationId.branchName}}</td>
                    <td> {{this.locationId.location}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
</body>

</html>