@import'../../../shared/styles/abstracts/abstracts-dir.scss';

.role-select{
    border-radius: 25px;
    width: 50%;
    color:$primary-bg;
    border: 1px solid $primary-bg;
}
.imng-size img{
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
}
.b1
{
  margin-left: -1cm;
}