@import'../../../shared/styles/abstracts/abstracts-dir.scss';

.role-select{
    border-radius: 25px;
    width: 50%;
    color:$primary-bg;
    border: 1px solid $primary-bg;
}
td{
    text-align: center;
}
th{
    text-align: center;
}